<h1>Hi, <%=@username%>! Here's a link to:</h1>
<h1><%= link_to 'A Secret', 'secrets/show' %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
